
/* Basic Carousel Styling */
#splide{
  height: 100vh;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; /* Set a height for the slide */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  text-align: center;
}

@media (max-width: 450px)  {
  .splide__slide{
    min-height: 100vh;
  }
  
  
}

/* Basic Styling for Carousel Content */
.carousel-content {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 5px;
  max-width: 80%;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}
.carousel-content ul{
  list-style-position: inside;
  list-style-type:disc;
  padding: 4px 4px;
  border: 1px solid white;
  max-width: fit-content;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  background-color: transparent;
}


.carousel-content > h1 {
  margin: 0px;
}

.carousel-content > button {
  background-color: white;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 25px;
  padding: 10px;
  max-width: fit-content;
  align-self: center !important;
}

.carousel-content > button > a {
  text-decoration: none;
  color: black;
}

/* Dropdown Styling */
select {
  background-color: rgb(184, 112, 133);
  border-radius: 10px;
  padding: 5px;
  margin: 0px;
  color: white;
}

select > option:hover {
  border-radius: 8px;
  background-color: rgb(212, 45, 92);
}

#position-selector {
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#position-selector > label {
  color: black;
  margin-right: 10px;
  font-weight: bold;
}

/* Flexbox Positioning Classes with Random Text Alignment */
.position-top-start {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
 
}

.position-top-center {
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.position-top-end {
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
}

.position-middle-start {
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.position-middle-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.position-middle-end {
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.position-bottom-start {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: left;
}

.position-bottom-center {
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.position-bottom-end {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

/* Responsive Adjustments (Optional) */
@media (max-width: 768px) {
  .carousel-content {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
